{% extends 'news/base.html' %}
{% load staticfiles %}}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1>Django News</h1>
    <p>Your Latest and Greatest news articles from your feeds.</p>
  </div>
</div>

<div class="container">
  <div class="row">
  
    {% for article in articles %}
    <div class="col-md-6">
      <div class="col-md-12 article">
      
        <h2>{{ article.title }}</h2>
        <p>{{ article.description |safe|linebreaks|truncatewords:50 }}</p>
        <p><a href="{{ entry.url }}" target="_blank" class="btn btn-primary">View Details</a></p>
      
      </div>
    </div>
    <br>
    {% endfor %}

  </div>
</div>


<div class="container">
  <hr>
  <footer>
    <p>&copy; 2015 Django News Aggregator</p>
  </footer>
</div> <!-- /container -->

{% endblock %}